* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 45%;
    height: 80vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 45rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 6rem;
    padding: 20px 0 20px 0;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}
.login{
    width: 50%;
    font-size: 12px;
    height: 36px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;  
    flex: 1 0 auto;
    margin: 0;
    outline: 1;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
}
.senha{
    width: 50%;
    font-size: 12px;
    height: 36px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;  
    flex: 1 0 auto;
    margin: 0;
    outline: 1;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
}

.instagram-login {
    background-color: rgba(var(--d69,0,149,246),1);
    border: 1px solid transparent;
    color: rgba(var(--eca,255,255,255),1);
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    user-select: none;
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    margin: 0;

}

.facebook-login {
     color: #385185;;
    margin-top: 1rem;
    margin: 0;
    padding-top: 10px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: 600;
}
.ou{    
    color: rgba(var(--f52,142,142,142),1);
    padding:10px 0 10px 0;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.password-reset{
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0195f6;
    font-size: 14px;
    line-height: 18px;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0 10px 0;
   
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
    
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}